*.o
*.lo
*.la
\#*#
.*.rej
*.rej
.*~
*~
*#
.#*
.DS_Store
*.sw[po]
Session.vim
*.pyc
*.dSYM
.svn
*.log
*.dvi
*.aux
.zshrc.local
*.err
*.zwc
*.un~
tags
GPATH
GRTAGS
GTAGS

.vim/bundle/*
.gitconfig.local
.vimrc.local
.perl-version
.mackerel
.bundle
.ruby-version
vendor/bundle
vendor/cookbooks
