[user]
	name = y_uuki
  email = yuki.tsubo@gmail.com
[color]
  status = auto
  ui = auto
  branch = auto
  interactive = auto
  grep = auto
[push]
  default = simple
[include]
  path = ~/.gitconfig.local
[core]
  editor = /usr/bin/vim
	excludesfile = ~/.gitignore
	autocrlf = false
  quotepath = false
[grep]
  lineNumber = true
[alias]
	ls = ls-files
  st = status
  sh = show
  so = remote show origin
  sb = show-branch -a
  st = !git status -s && git stash list | cat
  cfm = !git sb && git br && git st
  ft = fetch
  up = pull --rebase # pull rebase
  rbm = rebase master
  ad = add
  co = checkout
  # commit関連
  ci = commit
  cim = commit -m
  cia = commit -a
  cm = commit -v
  # branch関連
  br = branch
  brr = branch -r
  ba = branch -a           # originも含めた全てのbranchを表示
  bm = branch --merged     # merge済みのbranchを表示
  bn = branch --no-merged  # mergeしてないbranchを表示
  # log関連
  lp = log -p
  la = log --pretty=\"format:%ad %h (%an): %s\" --date=short  # ざっくりログ出す
  lr = log origin          # originのlog
  lg = log --oneline --decorate --graph # branchとtagをgraph表示
  ld = log -p --graph --decorate
  # diff関連
  dm = diff master         # masterとのdiff
  dc = diff --cached -M    # ファイル名変更時に無駄な差分を出力しない
  ds = diff --staged -M    # 同上(1.6.1移行)
  d1 = diff HEAD~          # HEADから1つ前とdiff
  d2 = diff HEAD~~         # HEADから2つ前とdiff
  # mergeの際にconflictが起きたファイルを編集
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
  # mergeの際にconflictが起きたファイルをadd
  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  # grep関連
  gr = grep
  gn = grep -n
  sed = ! git grep -z --full-name -l '.' | xargs -0 perl -pi -e
  grb = grep -n --heading --break
  # stash関連
  ss = stash
  ssl = stash list
  sss = stash save
  ssp = stash pop
  # push/pull関連
  ps = push
  psom = push origin master
  psb = "!f() { git rev-parse --abbrev-ref HEAD ; }; git push origin `f`"
  pshm = push heroku master
  pl = pull
  prb = "!f() { git rev-parse --abbrev-ref HEAD ; }; git pull --rebase origin `f`"
  # rebase関連
  rb = rebase
  rbi = rebase -i
  # hub関連
  see = browse
  # blame関連
  bl = blame
  # submodule関連
  sm = submodule
  sma = submodule add
  smu = submodule update
  sgrep =  "!f() { git --no-pager grep \"$1\"; git submodule foreach \"git --no-pager grep '$1'; true\" | grep -B 1 \"$1\"; }; f"
  # colorized cheery -v
  # ls
  ls = ls-files
  lst = ls-tree
  cch= "!f() { git cherry -v "$@" | awk '{ if($1 == \"+\"){ color = \"green\" } if($1 == \"-\"){ color = \"red\" } cmd = \"git show --date=short --no-notes --pretty=format:\\047%C\" color $1 \" %h %Cgreen%cd %Cblue%cn%x09%Creset%s\\047 --summary \" $2; cmd | getline t; close(cmd); print t }' ;}; f"
  rm-cached-all="!f() {for i in `git status | grep deleted | awk '{print $3}'`; do git rm $i; done}"
  fetch-pullreq = fetch origin '+refs/pull/*/head:refs/pull/*'
  plog = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  delete-merged-branches = !git branch --merged | grep -v \\* | grep -v master | grep -v staging | grep -v develop | xargs -I % git branch -d %
  re = browse-remote
[hub]
  protocol = git
[branch]
	autosetuprebase = always
[merge]
	ff = false
[url "git@github.com:"]
  insteadof = "ssh://git@github.com/"
  pushinsteadof = "https://github.com/"
  pushinsteadof = "git://github.com/"
[branch "master"]
	rebase = true
[web]
  browser = open
[browser "chrome"]
  cmd = open -a 'Google Chrome.app'
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[ghq]
  root = ~/src
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[browse-remote "github.com"]
	top = https://{host}/{path}
	ref = https://{host}/{path}/tree/{short_ref}
	rev = https://{host}/{path}/commit/{commit}
	pr = https://{host}/{path}/pull/{short_ref}
	file = "https://{host}/{path}/{file.directory? and :tree or :blob}/{short_rev}/{file}{lines && \"#L%s\" % lines.join(\"-\")}"
[credential]
	helper = "aws --version codecommit credential-helper "
	UseHttpPath = true
