[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".zsh/antigen"]
	path = .zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".zsh/plugins/cdd"]
	path = .zsh/plugins/cdd
	url = https://github.com/m4i/cdd.git
[submodule ".zsh/plugins/auto-fu.zsh"]
	path = .zsh/plugins/auto-fu.zsh
	url = https://github.com/hchbaw/auto-fu.zsh.git
[submodule ".vim/snippets"]
	path = .vim/snippets
	url = git@github.com:y-uuki/snipmate-snippets.git
